<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style2.css">
    </head>
    <body>
        <div id="app" class="app">
            <div class="box">
                <div>
                    <input type="text" v-model="todoContent">
                    <button @click="addTodo">+</button>
                </div>
                <ol>
                    <li v-for="(todo, index) in todos" :key="index">
                        <div>
                            {{ todo.done ? '☒' : '☑'}}
                            <p>{{ todo.content }}</p>
                            <button @click="todo.done = !todo.done" class="todo-done">{{ todo.done ? 'Bajarilmadi' : 'Bajarildi'}}</button>
                        </div>
                    </li>
                </ol>
                <div></div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    todoContent: '',
                    todos: [
                        {
                            id: 1,
                            content: "Uyga vazifani bajarish",
                            done: false
                        }
                    ]
                },
                methods: {
                    addTodo() {
                        if (this.todoContent) {
                            this.todos.push({
                                id: this.todos.length + 1,
                                content: this.todoContent,
                                done: false
                            })
                            this.todoContent = ''

                        }
                    }
                }
            })
        </script>
    </body>
</html>
